<div class="login-page">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
      <mat-card-title>
        Sign In
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" />
            <button mat-button *ngIf="authForm.get('email').value" matSuffix mat-icon-button aria-label="Clear" (click)="authForm.reset({email: ''})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="authForm.get('email').hasError('email') && !authForm.get('email').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="authForm.get('email').hasError('required')">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="authForm.get('password').hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="isSubmitting || !authForm.valid" color="primary" type="submit">Login</button>
        <button mat-raised-button [disabled]="isSubmitting" (click)="goToRegister()" type="button">New User?</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
