.message-view-page {

  .spacer {
    flex: 1 1 auto;
  }

  .message-view-page-container {
    text-align: center;
    margin: 30px 25px;

    .mat-card-header {
      text-align: left;

      div {
        display: inline-block;
      }

      .title {
        width: 70px;
      }
    }

    .mat-card-content {

      p {
        background: #ECEFF1;
        padding: 30px;
      }
    }
  }
}
