<div fxLayout="row" flex fxLayoutGap="20px">
  <div fxFlex="50" class="address-container">
    <mat-card>
      <mat-card-title>Your address</mat-card-title>
      <mat-card-content>
        <div class="select-shipping-address-container">
          <mat-select [(value)]="selectedShippingAddress" (selectionChange)="shippingAddressChange($event)">
            <mat-option *ngFor="let address of addresses" [value]="address">{{ address.toString() }}</mat-option>
          </mat-select>
        </div>
        <form [formGroup]="shippingAddressForm">
          <div>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="first_name" required />
              <mat-error *ngIf="shippingAddressForm.controls.first_name.invalid">
                First Name is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('first_name').hasError('custom')">
                {{ shippingAddressForm.get('first_name').getError('custom') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="last_name" required />
              <mat-error *ngIf="shippingAddressForm.controls.last_name.invalid">
                Last name is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('last_name').hasError('custom')">
                {{ shippingAddressForm.get('last_name').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Street Address" formControlName="street_address" required />
              <mat-error *ngIf="shippingAddressForm.controls.street_address.invalid">
                Street Address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('street_address').hasError('custom')">
                {{ shippingAddressForm.get('street_address').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Extra Address" formControlName="extra_address" />
              <mat-error *ngIf="shippingAddressForm.get('extra_address').hasError('custom')">
                {{ shippingAddressForm.get('extra_address').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" required />
              <mat-error *ngIf="shippingAddressForm.controls.city.invalid">
                City is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('city').hasError('custom')">
                {{ shippingAddressForm.get('city').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="State" formControlName="state" required>
                <mat-option *ngFor="let state of usStates" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="shippingAddressForm.get('state').hasError('required')">
                State is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('state').hasError('custom')">
                {{ shippingAddressForm.get('state').getError('custom') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Zipcode" formControlName="postcode" required />
              <mat-error *ngIf="shippingAddressForm.controls.postcode.invalid">
                Zipcode is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="shippingAddressForm.get('postcode').hasError('custom')">
                {{ shippingAddressForm.get('postcode').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Telephone" formControlName="telephone" />
              <mat-error *ngIf="shippingAddressForm.get('telephone').hasError('custom')">
                {{ shippingAddressForm.get('telephone').getError('custom') }}
              </mat-error>
            </mat-form-field>
          </div>
        </form>

        <div class="use-different-billing-address-container">
          <mat-checkbox [(ngModel)]="useDifferentBillingAddress">Use different billing address</mat-checkbox>
        </div>

        <div *ngIf="useDifferentBillingAddress" class="billing-address-container">
          <hr>

          <div class="select-shipping-address-container">
            <mat-select [(value)]="selectedBillingAddress" (selectionChange)="billingAddressChange($event)">
              <mat-option *ngFor="let address of addresses" [value]="address">{{ address.toString() }}</mat-option>
            </mat-select>
          </div>

          <form [formGroup]="billingAddressForm">
            <div>
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="first_name" required />
                <mat-error *ngIf="billingAddressForm.controls.first_name.invalid">
                  First Name is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="billingAddressForm.get('first_name').hasError('custom')">
                  {{ billingAddressForm.get('first_name').getError('custom') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="last_name" required />
                <mat-error *ngIf="billingAddressForm.controls.last_name.invalid">
                  Last name is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="billingAddressForm.get('last_name').hasError('custom')">
                  {{ billingAddressForm.get('last_name').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Street Address" formControlName="street_address" required />
                <mat-error *ngIf="billingAddressForm.controls.street_address.invalid">
                  Street Address is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="billingAddressForm.get('street_address').hasError('custom')">
                  {{ billingAddressForm.get('street_address').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Extra Address" formControlName="extra_address" />
                <mat-error *ngIf="billingAddressForm.get('extra_address').hasError('custom')">
                  {{ billingAddressForm.get('extra_address').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="City" formControlName="city" required />
                <mat-error *ngIf="billingAddressForm.controls.city.invalid">
                  City is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="billingAddressForm.get('city').hasError('custom')">
                  {{ billingAddressForm.get('city').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select placeholder="State" formControlName="state" required>
                  <mat-option *ngFor="let state of usStates" [value]="state">
                    {{ state }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="billingAddressForm.get('state').hasError('required')">
                  State is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Zipcode" formControlName="postcode" required />
                <mat-error *ngIf="billingAddressForm.controls.postcode.invalid">
                  Zipcode is
                  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="billingAddressForm.get('postcode').hasError('custom')">
                  {{ billingAddressForm.get('postcode').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Telephone" formControlName="telephone" />
                <mat-error *ngIf="billingAddressForm.get('telephone').hasError('custom')">
                  {{ billingAddressForm.get('telephone').getError('custom') }}
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
  <div fxFlex="50" class="shipping-method-container">
    <mat-card>
      <mat-card-title>Shipping Method</mat-card-title>
      <mat-card-content>
        <mat-radio-group class="shipping-method-group" [(ngModel)]="selectedShippingMethod">
          <mat-radio-button class="shipping-method-item" *ngFor="let shippingMethod of shippingMethods" [value]="shippingMethod">
            {{ shippingMethod.name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>

    <div style="margin-top: 10px;">
      <button mat-raised-button color="primary" [disabled]="canPlaceOrder" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>
