.address-card {
  margin: 10px 0;

  &.active {
    border: 2px solid;
  }

  .address-list {
    list-style-type: none;

    li {
      font-size: 16px;
      word-wrap: break-word;

      &.name {
        line-height: 22px;
        font-weight: bold;
      }
    }
  }
}

