.address-page {
  .spacer {
    flex: 1 1 auto;
  }

  .address-page-container {

    min-width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .mat-table {
      display: block;
    }

    .mat-row,
    .mat-header-row {
      display: flex;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      align-items: center;
      min-height: 48px;
      padding: 0 24px;
    }

    .mat-cell,
    .mat-header-cell {
      flex: 1;
      overflow: hidden;
      word-wrap: break-word;

      .default-addr-icon {
        display: inline-block;
        width: 88px;
        vertical-align: middle;
        text-align: center;
        padding: 4px 0px;
        color: #ffffff;
        background: #337ab7;
      }
    }

    .paging {

      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 14px;
      text-align: center;

      div {
        display: inline-block;
        margin-right: 30px;
      }

      .page-item {
        cursor: pointer;
        padding: 6px 12px;
        color: #337ab7;
        background: #ffffff;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
      }

      .page-item:last-child {
        border-right: 1px solid #e2e2e2;
      }

      .page-item:hover {
        background: #EEEEEE;
      }

      .active, .active:hover {
        cursor: default;
        background: #337ab7;
        border: none;
        color: #ffffff;
      }

      .mat-form-field {
        width: 75px;
        text-align: center;
      }
    }
  }
}
