<mat-card>
  <mat-card-title>Your address</mat-card-title>
  <mat-card-content>
    <div class="select-shipping-address-container">
      <mat-select [(value)]="selectedShippingAddress" (selectionChange)="shippingAddressChange($event)">
        <mat-option *ngFor="let address of addresses" [value]="address">{{ address.toString() }}</mat-option>
      </mat-select>
    </div>
    <form [formGroup]="shippingAddressForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="first_name" required />
          <mat-error *ngIf="shippingAddressForm.controls.first_name.invalid">
            First Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="last_name" required />
          <mat-error *ngIf="shippingAddressForm.controls.last_name.invalid">
            Last name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Street Address" formControlName="street_address" required />
          <mat-error *ngIf="shippingAddressForm.controls.street_address.invalid">
            Street Address is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Extra Address" formControlName="extra_address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" required />
          <mat-error *ngIf="shippingAddressForm.controls.city.invalid">
            City is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="State" formControlName="state" required>
            <mat-option *ngFor="let state of usStates" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="shippingAddressForm.get('state').hasError('required')">
            State is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Zipcode" formControlName="postcode" required />
          <mat-error *ngIf="shippingAddressForm.controls.postcode.invalid">
            Zipcode is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Telephone" formControlName="telephone" />
        </mat-form-field>
      </div>
    </form>

    <div class="use-different-billing-address-container">
      <mat-checkbox [(ngModel)]="useDifferentBillingAddress">Use different billing address</mat-checkbox>
    </div>

    <div *ngIf="useDifferentBillingAddress" class="billing-address-container">
      <hr>

      <div class="select-shipping-address-container">
        <mat-select [(value)]="selectedBillingAddress" (selectionChange)="billingAddressChange($event)">
          <mat-option *ngFor="let address of addresses" [value]="address">{{ address.toString() }}</mat-option>
        </mat-select>
      </div>

      <form [formGroup]="billingAddressForm">
        <div>
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="first_name" required />
            <mat-error *ngIf="billingAddressForm.controls.first_name.invalid">
              First Name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="last_name" required />
            <mat-error *ngIf="billingAddressForm.controls.last_name.invalid">
              Last name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Street Address" formControlName="street_address" required />
            <mat-error *ngIf="billingAddressForm.controls.street_address.invalid">
              Street Address is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Extra Address" formControlName="extra_address" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city" required />
            <mat-error *ngIf="billingAddressForm.controls.city.invalid">
              City is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="State" formControlName="state" required>
              <mat-option *ngFor="let state of usStates" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="billingAddressForm.get('state').hasError('required')">
              State is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zipcode" formControlName="postcode" required />
            <mat-error *ngIf="billingAddressForm.controls.postcode.invalid">
              Zipcode is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Telephone" formControlName="telephone" />
          </mat-form-field>
        </div>
      </form>
    </div>

    <button mat-raised-button color="primary" [disabled]="!billingAddressForm.valid || !shippingAddressForm.valid">Save</button>

  </mat-card-content>
</mat-card>
