.password-reset-page {
  padding: 20px;
  vertical-align: top;
  text-align: center;

  .mat-form-field {
    width: 240px;
  }

  .mat-card-actions {
    text-align: center;
    margin-bottom: 20px;
  }
}
