<div class="password-reset-page">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
      <mat-card-title>
        Reset Password
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required />
            <mat-error *ngIf="passwordResetForm.controls.email.invalid">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
            <mat-error *ngIf="passwordResetForm.controls.email.invalid">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password Confirmation" type="password" formControlName="password_confirmation" required>
            <mat-error *ngIf="!passwordResetForm.get('password_confirmation').hasError('required') && passwordResetForm.get('password_confirmation').hasError('unMatched') ">
              Password Confirmation is not matched to password
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls.password_confirmation.invalid">
              Password Confirmation is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="passwordResetForm.invalid" color="primary" type="submit">Reset Password</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
