<div class="user-page">
  <mat-toolbar>
    <span>My Account</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <div>
    <table>
      <tr>
        <td>
          <a routerLink="addresses">My Addresses</a>
        </td>
        <td>
          <a routerLink="profile">Account Profile</a>
        </td>
      </tr>
      <tr>
        <td>Open Balance</td>
        <td>
          <a routerLink="password">Change Password</a>
        </td>
      </tr>
      <tr>
        <td><a routerLink="orders">Orders</a></td>
        <td>
          <a routerLink="messages">Message</a>
        </td>
      </tr>
    </table>
  </div>
</div>
