<div class="user-page">
  <mat-toolbar>
    <span>My Account</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <div>
    <table>
      <tr>
        <td>
          <a routerLink="/address">My Addresses</a>
        </td>
        <td>
          <a routerLink="/user/profile">Account Profile</a>
        </td>
      </tr>
      <tr>
        <td>Open Balance</td>
        <td>Change Password</td>
      </tr>
      <tr>
        <td>Order Status</td>
        <td>
          <a routerLink="/message">Message</a>
        </td>
      </tr>
    </table>
  </div>
</div>
