<div class="password-forgot-page">
  <form [formGroup]="passwordForgotForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
      <mat-card-title>
        Reset Password
      </mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required />
            <mat-error *ngIf="passwordForgotForm.controls.email.invalid">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="passwordForgotForm.invalid" color="primary" type="submit">Send Password Reset Link</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
