.user-password-page {

    .spacer {
      flex: 1 1 auto;
    }

    .user-password-page-container {
      text-align: center;
      margin: 30px 25px;

      .mat-card-header {
        text-align: left;
      }

      .mat-card-content {

        p {
          background: #ECEFF1;
          padding: 30px;
        }
      }
    }
  }
