<div class="user-password-page">
  <mat-toolbar>
    <span>Change Password</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/user">
      <mat-icon>undo</mat-icon> Back
    </button>
  </mat-toolbar>

  <div class="user-password-page-container mat-elevation-z8">
    <form [formGroup]="userPasswordForm" (ngSubmit)="onSubmit()">
      <mat-card class="user-password-view-card">
        <mat-card-content>
          <div>
            <mat-form-field>
              <input matInput placeholder="Old Password" type="password" formControlName="old_password" required>
              <mat-error *ngIf="userPasswordForm.get('old_password').hasError('required')">
                Old Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="New Password" type="password" formControlName="password" required>
              <mat-error *ngIf="userPasswordForm.get('password').hasError('required')">
                New Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password Confirmation" type="password" formControlName="password_confirmation" required>
              <mat-error *ngIf="!userPasswordForm.get('password_confirmation').hasError('required') && userPasswordForm.get('password_confirmation').hasError('unMatched') ">
                Password Confirmation is not matched to password
              </mat-error>
              <mat-error *ngIf="userPasswordForm.get('password_confirmation').hasError('required')">
                Password Confirmation is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="userPasswordForm.invalid">Save</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
